@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Overpass";
    src: url("./assets/fonts/overpass-bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Overpass";
    src: url("./assets/fonts/overpass-regular.ttf");
}